@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
  background-color: #2A2C2F;
  padding: 30px;
  min-width: 320px;  
  font-family: 'Roboto', Arial, sans-serif;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  text-align: center;
  margin: 0 0 15px;
}

.form {
  display: flex;
  max-width: 500px;
  margin: 0 auto 30px;
  min-height: 50px;
  justify-content: center;
}

.form__input {
  height: 100%;
  width: 220px;
  border: none;  
  border-radius: 5px;
  padding: 0 10px;
}

.form__button {
  height: 100%;
  text-transform: uppercase;
  padding: 1px 10px 0;
  margin: 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: .2s linear;
}

.form__button:hover {
  opacity: .8;
}

.to-do {
  max-width: 500px;
  margin: 0 auto;
}

.to-do__list {
  padding: 0;
  list-style: none;
  margin: 0 0 10px;
}

.to-do-item {
  max-width: 348px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 10px;
}

.to-do-item:last-of-type {
  margin-bottom: 0;
}

.to-do-item__text {
  color: black;
  min-height: 50px;
  width: 240px;
  background-color: white;
  border-radius: 5px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 25px;
}

.to-do-item__text_type_complete {
  text-decoration: line-through;
}

.to-do-item__button {
  width: 50px;
  height: 50px;
  border: none;
  padding: 1px 0 0 ;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s linear;
  text-transform: uppercase;
  font-size: 30px;
}

.to-do-item__button_type_complete {
  background-color: #14af42;
}

.to-do-item__button_type_delete {
  background-color: #af1045;
}

.to-do-item__button:hover {
  opacity: .8;
}

.footer {
  max-width: 500px;
  margin: 30px auto 0;
}

.footer__title {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  margin: 0 0 10px;
  text-align: center;
}

.footer__text {
  margin: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
}

@media all and (max-width: 424px) {
  .form__input {    
    width: 170px;
  }
  
  .to-do-item {
    max-width: 298px;
  }

  .to-do-item__text {
    width: 190px;
  }
}
